<ui-view class="task-component" layout="column" layout-fill layout-padding>
    <div flex-gt-sm="90" flex-gt-md="80">
        <h2 class="md-title inset" ng-bind="$ctrl.task.description"></h2>
        <md-card>
            <section layout="row" layout-sm="column" layout-align="left top" layout-wrap>
                <table class="task-info">
                    <thead>
                    <tr>
                        <th>Datos de la orden</th>
                    </thead>
                    <tbody>
                    <tr>
                        <td ng-bind="$ctrl.task.booking.id"></td>
                    </tr>
                    </tbody>
                </table>

                <table class="task-info">
                    <thead>
                    <tr>
                        <th>Datos del cliente</th>
                    </thead>
                    <tbody>
                    <tr>
                        <td></td>
                    </tr>
                    </tbody>
                </table>
                <!-- Task number: {{ $ctrl.task }} -->
            </section>

            <p>
                <!-- start slipsum code -->

                Look, just because I don't be givin' no man a foot massage don't make it right for Marsellus to throw Antwone into a glass motherfuckin' house, fuckin' up the way the nigger talks. Motherfucker do that shit to me, he better paralyze my ass, 'cause I'll kill the motherfucker, know what I'm sayin'?

                <!-- end slipsum code -->
                <!-- start slipsum code -->

                Look, just because I don't be givin' no man a foot massage don't make it right for Marsellus to throw Antwone into a glass motherfuckin' house, fuckin' up the way the nigger talks. Motherfucker do that shit to me, he better paralyze my ass, 'cause I'll kill the motherfucker, know what I'm sayin'?

                <!-- end slipsum code -->
                <!-- start slipsum code -->

                Look, just because I don't be givin' no man a foot massage don't make it right for Marsellus to throw Antwone into a glass motherfuckin' house, fuckin' up the way the nigger talks. Motherfucker do that shit to me, he better paralyze my ass, 'cause I'll kill the motherfucker, know what I'm sayin'?

                <!-- end slipsum code -->
                <!-- start slipsum code -->

                Look, just because I don't be givin' no man a foot massage don't make it right for Marsellus to throw Antwone into a glass motherfuckin' house, fuckin' up the way the nigger talks. Motherfucker do that shit to me, he better paralyze my ass, 'cause I'll kill the motherfucker, know what I'm sayin'?

                <!-- end slipsum code -->
                <!-- start slipsum code -->

                Look, just because I don't be givin' no man a foot massage don't make it right for Marsellus to throw Antwone into a glass motherfuckin' house, fuckin' up the way the nigger talks. Motherfucker do that shit to me, he better paralyze my ass, 'cause I'll kill the motherfucker, know what I'm sayin'?

                <!-- end slipsum code -->
                <!-- start slipsum code -->

                Look, just because I don't be givin' no man a foot massage don't make it right for Marsellus to throw Antwone into a glass motherfuckin' house, fuckin' up the way the nigger talks. Motherfucker do that shit to me, he better paralyze my ass, 'cause I'll kill the motherfucker, know what I'm sayin'?

                <!-- end slipsum code -->
            </p>

            <p>
                <!-- start slipsum code -->

                Look, just because I don't be givin' no man a foot massage don't make it right for Marsellus to throw Antwone into a glass motherfuckin' house, fuckin' up the way the nigger talks. Motherfucker do that shit to me, he better paralyze my ass, 'cause I'll kill the motherfucker, know what I'm sayin'?

                <!-- end slipsum code -->
                <!-- start slipsum code -->

                Look, just because I don't be givin' no man a foot massage don't make it right for Marsellus to throw Antwone into a glass motherfuckin' house, fuckin' up the way the nigger talks. Motherfucker do that shit to me, he better paralyze my ass, 'cause I'll kill the motherfucker, know what I'm sayin'?

                <!-- end slipsum code -->
                <!-- start slipsum code -->

                Look, just because I don't be givin' no man a foot massage don't make it right for Marsellus to throw Antwone into a glass motherfuckin' house, fuckin' up the way the nigger talks. Motherfucker do that shit to me, he better paralyze my ass, 'cause I'll kill the motherfucker, know what I'm sayin'?

                <!-- end slipsum code -->
                <!-- start slipsum code -->

                Look, just because I don't be givin' no man a foot massage don't make it right for Marsellus to throw Antwone into a glass motherfuckin' house, fuckin' up the way the nigger talks. Motherfucker do that shit to me, he better paralyze my ass, 'cause I'll kill the motherfucker, know what I'm sayin'?

                <!-- end slipsum code -->
                <!-- start slipsum code -->

                Look, just because I don't be givin' no man a foot massage don't make it right for Marsellus to throw Antwone into a glass motherfuckin' house, fuckin' up the way the nigger talks. Motherfucker do that shit to me, he better paralyze my ass, 'cause I'll kill the motherfucker, know what I'm sayin'?

                <!-- end slipsum code -->
                <!-- start slipsum code -->

                Look, just because I don't be givin' no man a foot massage don't make it right for Marsellus to throw Antwone into a glass motherfuckin' house, fuckin' up the way the nigger talks. Motherfucker do that shit to me, he better paralyze my ass, 'cause I'll kill the motherfucker, know what I'm sayin'?

                <!-- end slipsum code -->
            </p>

            <p>
                <!-- start slipsum code -->

                Look, just because I don't be givin' no man a foot massage don't make it right for Marsellus to throw Antwone into a glass motherfuckin' house, fuckin' up the way the nigger talks. Motherfucker do that shit to me, he better paralyze my ass, 'cause I'll kill the motherfucker, know what I'm sayin'?

                <!-- end slipsum code -->
                <!-- start slipsum code -->

                Look, just because I don't be givin' no man a foot massage don't make it right for Marsellus to throw Antwone into a glass motherfuckin' house, fuckin' up the way the nigger talks. Motherfucker do that shit to me, he better paralyze my ass, 'cause I'll kill the motherfucker, know what I'm sayin'?

                <!-- end slipsum code -->
                <!-- start slipsum code -->

                Look, just because I don't be givin' no man a foot massage don't make it right for Marsellus to throw Antwone into a glass motherfuckin' house, fuckin' up the way the nigger talks. Motherfucker do that shit to me, he better paralyze my ass, 'cause I'll kill the motherfucker, know what I'm sayin'?

                <!-- end slipsum code -->
                <!-- start slipsum code -->

                Look, just because I don't be givin' no man a foot massage don't make it right for Marsellus to throw Antwone into a glass motherfuckin' house, fuckin' up the way the nigger talks. Motherfucker do that shit to me, he better paralyze my ass, 'cause I'll kill the motherfucker, know what I'm sayin'?

                <!-- end slipsum code -->
                <!-- start slipsum code -->

                Look, just because I don't be givin' no man a foot massage don't make it right for Marsellus to throw Antwone into a glass motherfuckin' house, fuckin' up the way the nigger talks. Motherfucker do that shit to me, he better paralyze my ass, 'cause I'll kill the motherfucker, know what I'm sayin'?

                <!-- end slipsum code -->
                <!-- start slipsum code -->

                Look, just because I don't be givin' no man a foot massage don't make it right for Marsellus to throw Antwone into a glass motherfuckin' house, fuckin' up the way the nigger talks. Motherfucker do that shit to me, he better paralyze my ass, 'cause I'll kill the motherfucker, know what I'm sayin'?

                <!-- end slipsum code -->
            </p>
        </md-card>
    </div>
</ui-view>

<md-button class="md-fab md-fab-bottom-right" aria-label="Empezar tarea">
    <md-icon md-font-library="material-icons">&#xE52F;</md-icon>
</md-button>