<ui-view class="task-component" layout="column" layout-fill layout-padding>
    <div flex-gt-sm="90" flex-gt-md="80">        
        <md-card>
            <img src="/app/shared/assets/images/task-background.svg" class="md-card-image" alt="Task">
            <md-card-title>
                <md-card-title-text>
                    <div class="md-headline" ng-bind-html="$ctrl.getTaskTitle()"></div>
                </md-card-title-text>
            </md-card-title> 
            <md-card-content>
                <table class="task-info">
                    <caption>Datos de la orden</caption>
                    <tr>
                        <td class="order-number">{{ $ctrl.booking.getOrderNumber() }}</td>
                    </tr>
                    <tr>
                        <td>{{ $ctrl.booking.getCustomerName() }}</td>
                    </tr>
                    <tr>
                        <td>{{ $ctrl.booking.getCustomerAddress() }}</td>
                    </tr>
                    <tr>
                        <td>{{ $ctrl.booking.getCustomerCity() }}</td>
                    </tr>
                    <tr>
                        <td>{{ $ctrl.booking.getCustomerPhone() }}</td>
                    </tr>
                    <tr>
                        <td>{{ $ctrl.booking.getStatus() }}</td>
                    </tr>
                </table>
            </md-card-content>
        </md-card>
    </div>
</ui-view>

<md-button class="md-fab md-fab-bottom-right" aria-label="Empezar tarea">
    <md-icon md-font-library="material-icons">&#xE52F;</md-icon>
</md-button>