<md-toolbar md-scroll-shrink>
    <div class="md-toolbar-tools">
        <md-button class="md-icon-button" ng-click="$ctrl.back('todoList')" aria-label="Menu">
            <md-icon md-font-library="material-icons">&#xE5C4;</md-icon>
        </md-button>
        <h3>Detalle</h3>
        <span flex></span>
    </div>
</md-toolbar>
<md-content flex class="task-component">
    <ui-view layout="column" layout-fill layout-padding>
        <div flex-gt-sm="90" flex-gt-md="80">
            <h2 class="md-title inset" ng-bind="$ctrl.task.description"></h2>
            <md-card>
                <section layout="row" layout-sm="column" layout-align="left top" layout-wrap>
                    <table class="task-info">
                        <thead>
                        <tr>
                            <th>Datos de la orden</th>
                        </thead>
                        <tbody>
                        <tr>
                            <td ng-bind="$ctrl.task.booking.id"></td>
                        </tr>
                        </tbody>
                    </table>

                    <table class="task-info">
                        <thead>
                        <tr>
                            <th>Datos del cliente</th>
                        </thead>
                        <tbody>
                        <tr>
                            <td></td>
                        </tr>
                        </tbody>
                    </table>
                    <!-- Task number: {{ $ctrl.task }} -->
                </section>
            </md-card>
        </div>
    </ui-view>
</md-content>

<md-button class="md-fab md-fab-bottom-right" aria-label="Empezar tarea">
    <md-icon md-font-library="material-icons">&#xE52F;</md-icon>
</md-button>