<navigation></navigation>

<md-list ng-cloak class="md-dense todo-list-component">
    <md-subheader class="md-no-sticky">
        <div layout="column">
            <md-input-container>
                <label>Buscar</label>
                <input ng-model="user.title">
            </md-input-container>
        </div>
    </md-subheader>

    <md-list-item ng-repeat="task in $ctrl.getTasks() | orderBy: 'dueDate'" class="{{ $ctrl.getTaskStyle(task); }}" ng-click="$ctrl.getTask(task.id)">
        <div class="md-list-item-text" layout="column" flex>
            <h3 ng-bind="task.description"></h3>
            <h4 ng-bind="task.booking.id"></h4>
            <p class="due-date" ng-bind="$ctrl.getDueDate(task)"></p>
        </div>
        <md-icon md-font-library="material-icons">&#xE315;</md-icon>
    </md-list-item>
</md-list>

<md-button class="md-fab md-fab-bottom-right" aria-label="Actualizar" ng-click="$ctrl.refreshTasks()">
    <md-icon md-font-library="material-icons">&#xE042;</md-icon>
</md-button>