.todo-list-component

  h3, h4, p
    line-height: 1.6
    margin: 0

  h3
    font-size: 1rem
    font-weight: normal

  md-input-container
    margin: 0

  md-list-item
    border-bottom: 1px solid lightgray

    &.deprecated
      background: rgba(10, 10, 10, 0.1)
      color: darkgray

      .ink-ripple
        color: darkgray

    &.warning
      .due-date
        color: darkorange

    &.expired
      .due-date
        color: orangered

    .due-date
      font-size: 0.8rem

    .md-list-item-text
      padding: 1.2rem 0

  .md-subheader-inner
    padding: 16px 16px 0

.empty-state-content
  margin-bottom: 32px

